
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">

@await Component.InvokeAsync("_DefaultHeadComponentPartial")
<body>
    <main class="main" id="top">

        @await Component.InvokeAsync("_DefaultNavbarComponentPartial")

        @await Component.InvokeAsync("_DefaultFeatureComponentPartial")
        <!-- <section> begin ============================-->
        @await Component.InvokeAsync("_DefaultCategoryComponentPartial")
        <!-- <section> close ============================-->
       
        <!-- <section> begin ============================-->
        @await Component.InvokeAsync("_DefaultDestinationComponentPartial")
        <!-- <section> close ============================-->
       
        <!-- <section> begin ============================-->
        @await Component.InvokeAsync("_DefaultBookingStepsComponentPartial")
        <!-- <section> close ============================-->
        
        <!-- <section> begin ============================-->
        @await Component.InvokeAsync("_DefaultTestimonialComponentPartial")
        <!-- <section> close ============================-->
        <!-- ============================================-->
        @await Component.InvokeAsync("_DefaultPartnerComponentPartial")

        <!-- ============================================-->
        <!-- <section> begin ============================-->
        @await Component.InvokeAsync("_DefaultAIComponentPartial")
        <!-- <section> close ============================-->
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="vendors/popperjs/popper.min.js"></script>
    <script src="vendors/bootstrap/bootstrap.min.js"></script>
    <script src="vendors/is/is.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="vendors/fontawesome/all.min.js"></script>
    <script src="assets/js/theme.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&amp;family=Volkhov:wght@700&amp;display=swap" rel="stylesheet">
</body>

</html>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
</body>
</html>
